In [2]:
import pandas as pd

In [3]:
test = pd.read_csv('top-10_414.csv', sep='|')
test.head()

,userID,itemID,genre,prediction,title
0,414,318,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",4.478891,Schindler's List (1993)
1,414,483,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, ...",4.421305,Casablanca (1942)
2,414,169,"[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4.392331,"Wrong Trousers, The (1993)"
3,414,98,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...",4.364882,"Silence of the Lambs, The (1991)"
4,414,50,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",4.350535,Star Wars (1977)